#loading {
  width: 100vw;
  height: 100vh;
}
/* HTML: <div class="loader"></div> */
.loader,
.loader::after {
  will-change: transform, left, background-position;
  transform: translateZ(0);
}
.loader {
  will-change: transform;
  width: fit-content;
  font-size: 35px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background:
    linear-gradient(#000 0 0) left,
    linear-gradient(#000 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 44px; /* era 22px */
  height: 120px; /* era 60px */
  background:
              /*barra lateral direita*/
    linear-gradient(
        90deg,
        #000 8px,
        /* era 4px */ #0000 0 calc(100% - 8px),
        /* era 4px */ #000 0
      )
      bottom / 44px 40px,
    /* era 22px 20px */
      linear-gradient(
        90deg,
        red 8px,
        /* era 4px */ #0000 0 calc(100% - 8px),
        /* era 4px */ red 0
      )
      bottom 20px left 0/44px 12px,
    /* era 10px, 22px, 6px */ /*barra*/ linear-gradient(#000 0 0) bottom 12px
      left 0 /44px 16px,
    /* era 6px, 22px, 8px */ /*meio*/ linear-gradient(#000 0 0) bottom 0 left
      50%/16px 32px; /* era 8px, 16px */

  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}
@keyframes l9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size:
      0 0,
      50% 100%;
  }
  75.1%,
  100% {
    background-size:
      0 0,
      0 0;
  }
}
@keyframes l9-1 {
  25% {
    background-position:
      bottom,
      bottom 108px left 0,
      /* 54px*/ bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position:
      bottom,
      bottom 10px left 0,
      bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position:
      bottom,
      bottom 10px left 0,
      bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 44px); /* 22px*/
  }
  75% {
    background-position:
      bottom,
      bottom 108px left 0,
      /* 54px*/ bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 44px); /* 22px*/
  }
  75.1% {
    background-position:
      bottom,
      bottom 10px left 0,
      bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 44px); /* 22px*/
  }
}
.loader_conteiner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
